<template>
    <div :class="groupClass">
        <label :class="labelClass">{{ label }}</label>
        <vue-ctk-date-time-picker
            v-model="dateTime"
            :name="name"
            :format="format"
            :formatted="formatted"
            :only-date="true"
            :label="label" />
        <input :name="name" type="hidden" :value="dateTime" :class="inputClass" />
        <slot></slot>
    </div>
</template>

<script>
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.css';

export default {
    name: "DateTimeWrapper",
    components: {
        VueCtkDateTimePicker,
    },
    props: {
        name: { type: String },
        value: { type: String, default: '2001-01-01' },
        inputClass: { type: String },
        groupClass: { type: String },
        labelClass: { type: String, default: 'control-label' },
        label: { type: String },
        format: { type: String, default: "YYYY-MM-DD" },
        formatted: { type: String, default: "ddd D MMM YYYY" },
    },
    data() {
        return {
            dateTime: this.value,
        }
    },
}
</script>

<style>

</style>
