<template>
    <div :class="groupClass">
        <label v-if="!inline" :class="labelClass">{{ label }}</label>
        <multiselect 
            v-model="currentType" 
            :options="membershipTypes"
            selectLabel=""
            deselectLabel=""
            :allowEmpty="false">
            <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            <template slot="option" slot-scope="props">
                <div class="option__desc p-0">
                    <span class="option__title">{{ props.option.name }}</span><br />
                    <small><span class="text-secondary">{{ props.option.description }}</span></small>
                </div>
            </template>
        </multiselect>
        <input :name="id" type="hidden" :value="currentId" :class="inputClass" />
        <slot></slot>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import 'vue-multiselect/dist/vue-multiselect.min.css';

export default {
    name: "MembershipSelector",
    components: {
        Multiselect,
    },
    props: {
        id: {type: String },
        value: { type: String },
        inputClass: { type: String },
        groupClass: { type: String },
        labelClass: { type: String, default: 'control-label' },
        label: { type: String },
        inline: { type: Boolean, default: false },
    },
    mounted() {
        this.loadingTypes = true;
        axios.get('/public/api/membership-types')
            .then(response => {
                console.log(response);
                this.membershipTypes = response.data.data;  
                this.currentType = this.membershipTypes.find(option => option.id === Number(this.value));
                this.loadingTypes = false; 
        });
    },
    data() {
        return {
            membershipTypes : [],
            loadingTypes: false,
            currentType: null,
        }
    },
    computed: {
        currentId: function() {
            return this.currentType != null ? this.currentType.id : this.value;
        },
    },
    watch: {
        currentType: function(newValue, oldValue) {
            if(newValue !== oldValue) {
                this.$emit('type-changed', newValue);
            }
        }
    },
    methods: {
        typeSearch(query) {
            // var url = 'search/' + query + '?limit=20';
            // if(!query || query === '') {
            //     url = 'search?limit=20';
            // }

            // // Lets add the filters
            // if(this.filters !== "") {
            //     url += '&f=' + this.filters;
            // }

            // this.stockLoading = true;
            // let account = this.accountGuid === '' ? '' : "&account=" + this.accountGuid;
            // window.axios.get('/api/v1/stocks/' + url + account).then( response => {
            //     this.stockOptions = [];
            //     for(let key in response.data.data) {
            //         this.stockOptions.push(new Stock(response.data.data[key]));
            //     }

            //     // If we have a current stock item and it is not in the list lets add it1
            //     if(this.currentStock) {
            //         let found = this.stockOptions.find(stock => stock.guid === this.currentStock.guid);
            //         if (!found) {
            //             this.stockOptions.splice(0, 0, this.currentStock);
            //         }
            //     }

            //     this.stockLoading = false;
            // });
        },

        loadType(id) {
            // console.log('Getting membership type: ' + id);
            // if(!id || id === '')
            //     return;

            // this.stockLoading = true;
            // let account = this.accountGuid === '' ? '' : "?account=" + this.accountGuid;
            // window.axios.get('/api/v1/stocks/' + id + account).then( response => {
            //     let stock = new Stock(response.data);
            //     this.stockOptions = [stock];
            //     this.selectedStock = stock;
            //     this.$emit('stock-changed', stock);
            //     this.stockLoading = false;

            //     // Lets load all the rest of the stocks
            //     this.stockSearch();
            // });
        },
    }
}
</script>

<style scoped>

</style>
