<template>
    <div class="container-fluid">
        <div v-for="member in renewal.members" :key="member.id" class="row pb-1" tabindex="0" @mouseover="setCurrent(member)">
                <div class="col-6">{{ member.firstName }} {{ member.lastName }}</div>
                <div class="col-4">
                    <span v-if="member.pivot.submitted">{{ getTypeName(member.pivot.memberTypeId) }}</span>
                    <span v-else>
                        <membership-selector 
                            id="memberTypeId" 
                            :value="member.pivot.memberTypeId + ''" 
                            label=""
                            :inline="true"
                            group-class=""
                            :input-class="'form-control' + (errors.has('memberTypeId') ? ' is-invalid' : '')"
                            @type-changed="typeChanged">
                                <span v-if="errors.has('memberTypeId')" class="invalid-feedback">
                                    <strong>{{ errors.first('memberTypeId') }}</strong>
                                </span>
                        </membership-selector>
                    </span>
                </div>
                <div class="col-1 text-right">${{ member.pivot.amount / 100 }}</div>
                <div class="col-1 text-right"><button type="button" class="btn btn-sm btn-danger" @click="remove(member)">Remove</button></div>
        </div>

        <div class="row">
            <div class="col-11 text-right">
                <strong>Total: ${{ total }}</strong>
            </div>
            <div class="col-1"></div>
        </div>

        <!-- Submitted -->
        <div v-if="renewal.status === 2">
            <div class="row"><p>This renewal has been submitted to DBYC.  If you wish to make changes please contact DBYC.</p></div>
            <div class="row">
                <div class="col">
                    <h4>Payment of Membership Fees</h4>
                        <p>Fees may be paid by
                        EITHER: Cheque made out to: Dunsborough Bay Yacht Club (Inc) (please do not abbreviate) and sent to The Secretary, Dunsborough Bay Yacht Club, PO Box 479, Dunsborough, WA 6281.</p>
                        <p>OR Direct transfer to {{ '$settings->bankAccount' }} and mark your payment ‘{{ '$renewal->user->last_name' }} {{ '$renewal->id' }}’.</p>
                        <p>OR Contacting the membership secretary {{ '$settings->membershipSecretary->fullName()' }} on {{ '$settings->membershipSecretary->phone' }} to pay by credit card.</p>
                </div>
            </div>
        </div>

        <!-- Closed -->
        <div v-if="renewal.status === 4" class="row">
            <div class="col">This renewal has been submitted to DBYC and Paid.</div>
        </div>

        <hr />

        <!-- Open -->
        <div v-if="renewal.status === 1">
            <div class="row">
                <div class="col text-right">Add a new member below or</div>
                <div class="col text-right"><button  data-toggle="modal" data-target="#finalizeDialog" class="btn btn-sm btn-success">Pay Now</button></div>
            </div>
        </div>

        <!-- New Member form -->
        <form v-if="renewal.status === 1" class="form-horizontal" role="form" @submit.prevent="saveNewMember" @keydown="newMemberErrors.clear($event.target.name)">
        <membership-selector 
            id="memberTypeId" 
            :value="newMember.memberTypeId + ''" 
            label="Membership Type"
            :group-class="'form-group' + (newMemberErrors.has('memberTypeId') ? ' is-invalid' : '')"
            :input-class="'form-control' + (newMemberErrors.has('memberTypeId') ? ' is-invalid' : '')">
            <span v-if="newMemberErrors.has('memberTypeId')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('memberTypeId') }}</strong>
            </span>
        </membership-selector>

        <div class="form-group">
            <label for="firstName" class="control-label">First Name</label>
            <input id="firstName" type="text" :class="'form-control' + (newMemberErrors.has('firstName') ? ' is-invalid' : '')" name="firstName" v-model="newMember.firstName">

            <span v-if="newMemberErrors.has('firstName')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('firstName') }}</strong>
            </span>
        </div>

        <div class="form-group">
            <label for="lastName" class="control-label">Last Name</label>
                <input id="lastName" type="text" :class="'form-control' + (newMemberErrors.has('lastName') ? ' is-invalid' : '')" name="lastName" v-model="newMember.lastName">

            <span v-if="newMemberErrors.has('lastName')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('lastName') }}</strong>
            </span>
        </div>

        <date-time-wrapper 
            name="dateOfBirth"
            :value="newMember.dateOfBirth"
            label="Date of Birth"
            :group-class="'form-group' + (newMemberErrors.has('dateOfBirth') ? ' is-invalid' : '')"
            :input-class="'form-control' + (newMemberErrors.has('dateOfBirth') ? ' is-invalid' : '')">
            <span v-if="newMemberErrors.has('dateOfBirth')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('dateOfBirth') }}</strong>
            </span>
        </date-time-wrapper>

         <div class="form-group">
            <label for="yachtingAustraliaId" class="control-label">Yachting Australia # (If Known)</label>
            <input id="yachtingAustraliaId" type="text" :class="'form-control' + (newMemberErrors.has('yachtingAustraliaId') ? ' is-invalid' : '')" name="yachtingAustraliaId" v-model="newMember.yachtingAustraliaId">

            <span v-if="newMemberErrors.has('yachtingAustraliaId')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('memyachtingAustraliaIdberTypeId') }}</strong>
            </span>
        </div>

        <div class="form-group">
            <label for="phone" class="control-label">Phone</label>
            <input id="phone" type="text" :class="'form-control' + (newMemberErrors.has('phone') ? ' is-invalid' : '')" name="phone" v-model="newMember.phone">

            <span v-if="newMemberErrors.has('phone')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('phone') }}</strong>
            </span>
        </div>

        <div class="form-group">
            <label for="mobile" class="control-label">Mobile</label>
            <input id="mobile" type="text" :class="'form-control' + (newMemberErrors.has('mobile') ? ' is-invalid' : '')" name="mobile" v-model="newMember.mobile">

            <span v-if="newMemberErrors.has('mobile')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('mobile') }}</strong>
            </span>
        </div>

        <div class="form-group">
            <label for="email" class="control-label">E-Mail Address</label>
            <input id="email" type="email" :class="'form-control' + (newMemberErrors.has('email') ? ' is-invalid' : '')" name="email" v-model="newMember.email">

            <span v-if="newMemberErrors.has('email')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('email') }}</strong>
            </span>
        </div>

        <div class="form-group">
            <label for="street" class="control-label">Address (Optional)</label>
            <input id="street" type="text" :class="'form-control' + (newMemberErrors.has('street') ? ' is-invalid' : '')" placeholder="Street" name="street" v-model="newMember.street">

            <span v-if="newMemberErrors.has('street')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('street') }}</strong>
            </span>
        </div>

        <div class="form-row">
            <div class="col form-group">
                <label for="city" class="control-label sr-only">City</label>
                <input id="city" type="text" class="form-control" name="city" placeholder="City" v-model="newMember.city">

                <span v-if="newMemberErrors.has('city')" class="invalid-feedback">
                    <strong>{{ newMemberErrors.get('city') }}</strong>
                </span>
            </div>

            <div class="col form-group">
                <label for="state" class="control-label sr-only">State</label>
                <input id="state" type="text" class="form-control" name="state" placeholder="State" v-model="newMember.state">
                <span v-if="newMemberErrors.has('state')" class="invalid-feedback">
                    <strong>{{ newMemberErrors.get('state') }}</strong>
                </span>
            </div>

            <div class="col form-group">
                <label for="postcode" class="control-label sr-only">Postcode</label>
                <input id="postcode" type="text" class="form-control" name="postcode" placeholder="Code" v-model="newMember.postcode">
                <span v-if="newMemberErrors.has('postcode')" class="invalid-feedback">
                    <strong>{{ newMemberErrors.get('postcode') }}</strong>
                </span>
            </div>
        </div>

        <h3>Next of Kin</h3>
        <hr />
         <div class="form-group">
            <label for="kin" class="control-label">Kin Name</label>
            <input id="kin" type="text" :class="'form-control' + (newMemberErrors.has('kin') ? ' is-invalid' : '')" name="kin" v-model="newMember.kin">

            <span v-if="newMemberErrors.has('kin')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('kin') }}</strong>
            </span>
        </div>

        <div class="form-group">
            <label for="kinPhone" class="control-label">Phone</label>
            <input id="kinPhone" type="text" :class="'form-control' + (newMemberErrors.has('kinPhone') ? ' is-invalid' : '')" name="kinPhone" v-model="newMember.kinPhone">

            <span v-if="newMemberErrors.has('kinPhone')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('kinPhone') }}</strong>
            </span>
        </div>

        <div class="form-group">
            <label for="kinStreet" class="control-label">Address (Optional)</label>
            <input id="kinStreet" type="text" :class="'form-control' + (newMemberErrors.has('kinStreet') ? ' is-invalid' : '')" placeholder="Street" name="kinStreet" v-model="newMember.kinStreet">

            <span v-if="newMemberErrors.has('kinStreet')" class="invalid-feedback">
                <strong>{{ newMemberErrors.get('kinStreet') }}</strong>
            </span>
        </div>

        <div class="form-row">
            <div class="col-6 form-group">
                <label for="kinCity" class="control-label sr-only">City</label>
                <input id="kinCity" type="text" class="form-control" name="kinCity" placeholder="City" v-model="newMember.kinCity">

                <span v-if="newMemberErrors.has('kinCity')" class="invalid-feedback">
                    <strong>{{ newMemberErrors.get('kinCity') }}</strong>
                </span>
            </div>

            <div class="col-3 form-group">
                <label for="kinState" class="control-label sr-only">State</label>
                <input id="kinState" type="text" class="form-control" name="kinState" placeholder="State" v-model="newMember.kinState">

                <span v-if="newMemberErrors.has('kinState')" class="invalid-feedback">
                    <strong>{{ newMemberErrors.get('kinState') }}</strong>
                </span>
            </div>

            <div class="col-3 form-group">
                <label for="kinPostcode" class="control-label sr-only">Postcode</label>
                <input id="kinPostcode" type="text" class="form-control" name="kinPostcode" placeholder="Code" v-model="newMember.kinPostcode">

                <span v-if="newMemberErrors.has('kinPostcode')" class="invalid-feedback">
                    <strong>{{ newMemberErrors.get('kinPostcode') }}</strong>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col text-right"><button type="button" class="btn btn-primary" @click="saveNewMember">Add Member</button></div>
        </div>

        </form>
    </div>
</template>

<script>
import MembershipSelector from './MembershipSelector'
import Errors from '../../shared.js';

export default {
    name: "MemberRenewal",
    components: {
        MembershipSelector
    },
    props: {
        renewalId: { type: String, required: true },
    },
    data() {
        return {
            current: {},
            renewal: {},
            errors: new Errors(),
            newMember: {},
            newMemberErrors: new Errors(),
        }
    },
    mounted() {
        this.loadData(true);
    },
    computed: {
        total: function() {
            var total = 0.00;
            for(let key in this.renewal.members) {
                total += this.renewal.members[key].pivot.amount;
            }

            return total / 100;
        }
    },
    methods: {
        setCurrent(member) {
            this.current = member;
        },
        typeChanged(type) {  
            if(!this.current.id) {
                return;
            } 

            // Lets set the membership type     
            this.current.memberTypeId = type.id;

            // Membership type changed
            axios.put('/api/renewals/' + this.renewalId + '/members/' + this.current.id, this.current).then(response => {
                this.loadData();
            }).catch(error => this.errors.record(error.response.data));
        },
        loadData(resetNewMember = false) {
            // Lets get the renewal and its members
            axios.get('/api/renewals/' + this.renewalId).then(response => {
                this.renewal = response.data;
                if(resetNewMember) {
                    this.resetNewMember();
                }
            });
        },
        remove(member) {
            axios.delete('/api/renewals/' + this.renewalId + "/members/" + member.id).then( response => {
                this.loadData();
            }).catch(error => this.errors.record(error.response.data));
        },
        saveNewMember() {
            // Lets save a new member.
            axios.post('/api/renewals/' + this.renewalId + "/members", this.newMember).then( response => {
                this.loadData(true);
            }).catch(error => this.newMemberErrors.record(error.response.data));
        },
        resetNewMember() {
            // Lets reset the new member
            let memberTypeId = this.renewal.members.length > 0 ? this.renewal.members[this.renewal.members.length - 1 ].memberTypeId : 0;
            this.newMember = {
                id: 0,
                renewalId: this.renewal.id,
                memberTypeId: memberTypeId,
                firstName: '',
                lastName: this.renewal.user.last_name,
                dateOfBirth: '2001-01-01',
                yachtingAustraliaId: '',
                phone: this.renewal.user.phone,
                mobile: this.renewal.user.mobile,
                email: this.renewal.user.email,
                street: this.renewal.user.street,
                city: this.renewal.user.city,
                state: this.renewal.user.state,
                postcode: this.renewal.user.postcode,
                kin: this.renewal.user.first_name + ' ' + this.renewal.user.last_name,
                kinPhone: this.renewal.user.phone,
                kinStreet: this.renewal.user.street,
                kinCity: this.renewal.user.city,
                kinState: this.renewal.user.state,
                kinPostcode: this.renewal.user.postcode,
            };
        }
    }
}
</script>

<style scoped>

</style>