<style scoped>
    .gllpLatlonPicker   { margin: 0px 0; }
    .gllpMap    { width: 100%; height: 214px; }
</style>

<template>
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Accommondation Settings <span class="label label-success pull-right" v-if="errors.has('message')" v-text="errors.get('message')"></span></h4></div>
        <div class="panel-body">
            <form method="POST" id="detailform" name="detailform" class="form-horizontal" role="form" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name)">
                <input type="hidden" name="_method" value="_PUT" />

            <div class="form-group">
                <label class="col-sm-2 control-label" for="accommUserName">User Name</label>
                <div class="col-sm-10">
                    <input type="text" name="accommUserName" id="accommUserName" class="form-control" placeholder="User Name" v-model="user.accommUserName" autofocus="autofocus">
                </div>
            </div>

             <div class="form-group">
                    <label for="accommPassword" class="col-sm-2 control-label">Pasword</label>
                    <div class="col-sm-10">
                    <input type="password" name="accommPassword" id="accommPassword" class="form-control" placeholder="Password" v-model="user.accommPassword">
                    </div>
            </div>

            <!-- <div class="form-group">
                <label class="col-sm-2 control-label" for="accommEndPoint">End Poing</label>
                <div class="col-sm-10">
                    <input type="text" name="accommEndPoint" id="accommEndPoint" class="form-control" placeholder="End Poing" v-model="user.accommEndPoint">
                </div>
            </div> -->

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                  <!--    :disabled="errors.any()" -->
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
   import Errors from '../../shared.js'

    export default {
        mounted() { 
            this.getUser();
           // this.mapUpdateAll();
        },

        props: {
            userid: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                user: {},
                success_msg: "",
                failed_msg: "",
                errors: new Errors()
            };
        },

        methods: {
            getUser() {
                 axios.get('/api/user')
                     .then(response => {
                         this.user = response.data;
                     })
                    .catch(function(response) {
                        console.log(response);
                    }); 
            },
            onSubmit() {
                axios.put('/admin/settings/' + this.user.id, this.user)
                    .then(response => {
                        this.errors.record(response.data);
                    })
                    .catch(error => this.errors.record(error.response.data));
            }
        }
    }
</script>