<style scoped>
    .gllpLatlonPicker   { margin: 0px 0; }
    .gllpMap    { width: 100%; height: 214px; }
</style>

<template>
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Company Details <span class="label label-success pull-right" v-if="errors.has('message')" v-text="errors.get('message')"></span></h4></div>
        <div class="panel-body">
            <form method="POST" id="detailform" name="detailform" class="form-horizontal" role="form" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name)">
                <input type="hidden" name="_method" value="_PUT" />

                <div class="form-group">
                <label class="col-sm-2 control-label" for="isPublic" @click.native="testFunction">Is&nbsp;Publicly&nbsp;Viewable</label>
                <div class="checkbox col-sm-2" style="padding-top: 0px">
                    <bootstrap-toggle name="isPublic" v-model="user.isPublic" :options="{ on: 'Yes', off: 'No' }"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="company">Company</label>
                <div class="col-sm-8">
                    <input type="text" name="company" id="company" class="form-control" placeholder="Company" v-model="user.company" autofocus="autofocus">
                </div>
                <div class="checkbox col-sm-2" style="padding-top: 0px">
                    <bootstrap-toggle name="showCompanyName" v-model="user.showCompanyName"  :options="{ on: 'Hide', off: 'Show' }" @onchange="errors.clear('showCompanyName')"/>
                </div>
            </div>

             <div class="form-group">
                    <label for="companyWebsite" class="col-sm-2 control-label">Website</label>
                    <div class="col-sm-10">
                    <input type="text" name="companyWebsite" id="companyWebsite" class="form-control" placeholder="Website" v-model="user.companyWebsite">
                    </div>
                </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="summary">Summary</label>
                <div class="col-sm-8">
                    <input type="text" name="summary" id="summary" class="form-control" placeholder="Summary" v-model="user.summary">
                </div>

                <div class="checkbox col-sm-2" style="padding-top: 0px">
                   <label><bootstrap-toggle name="showSummary" data-toggle="toggle" v-model="user.showSummary" :options="{ on: 'Hide', off: 'Show' }" /></label>
                </div>
            </div>

            <!-- <div class="form-group">
                <label for="fontColor" class="col-sm-2 control-label">Font Color</label>
                <div class="input-group col-sm-4 colorPickerControl" style="padding-left: 14px">
                    <input type="text" name="fontColor" id="fontColor" class="form-control" placeholder="White" v-model="user.fontColor">
                    <span class="input-group-addon"><i></i></span>
                </div>
             </div>

            <div class="form-group">
                <label for="dropShadowColor" class="col-sm-2 control-label">Drop Shadow Color</label>
                <div class="input-group col-sm-4 colorPickerControl" style="padding-left: 14px">
                    <input type="text" name="dropShadowColor" id="dropShadowColor" class="form-control" placeholder="Gray" v-model="user.dropShadowColor">
                    <span class="input-group-addon"><i></i></span>
                </div>
                <div class="checkbox col-sm-4">
                    <label><bootstrap-toggle name="useDropShadow" data-toggle="toggle" v-model="user.useDropShadow" :options="{ on: 'Yes', off: 'No' }" />Use Drop Shadow</label>
                </div>
            </div> -->

            <div class="form-group">
                <label class="col-sm-2 control-label" for="companyDescription">Description</label>
                <div class="col-sm-10" style="padding-bottom: 12px;">
                    <textarea name="companyDescription" id="companyDescription" class="form-control" v-model="user.companyDescription" placeholder="Description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="JoiningMessage" class="col-sm-2 control-label">Email Joining Message</label>
                <div class="col-sm-6">
                    <textarea name="JoiningMessage" id="JoiningMessage" class="form-control" v-model="user.JoiningMessage" placeholder="Email Joining Message"></textarea>
                </div>
                <div class="col-sm-4">
                    <!-- <img :src="'/images/tenants/' + this.user.schema + '/images/barcode.png'" /> -->
                </div>
            </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                  <!--    :disabled="errors.any()" -->
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATyp4xp4WE3pW1BC1pdpMbqDgfqxtyjzE" type="text/javascript"></script>
<script src="/js/jquery-gmaps-latlon-picker.js" type="text/javascript"></script>

<script>
    // $(document).bind("location_changed", function(event, object) {
    //         console.log("changed: " + $(object).attr('id') );
    //         $('#useCustomLocation').val('true');
    // });
   import Errors from '../../shared.js'
   import BootstrapToggle from 'vue-bootstrap-toggle'

    export default {
        components: { BootstrapToggle },
        mounted() { 
            this.getUser();
           // this.mapUpdateAll();
        },

        props: {
            userid: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                user: {},
                password: "",
                password_confirm: "",
                success_msg: "",
                failed_msg: "",
                errors: new Errors()
            };
        },

        methods: {
            mapUpdateAll() {
                $(".gllpLatlonPicker").each(function() {
                   picker = $(document).gMapsLatLonPicker();
                   picker.init( $(this));
                    UpdateMap();
                });
            },
            getUser() {
                 axios.get('/api/user')
                     .then(response => {
                         this.user = response.data;
                     })
                    .catch(function(response) {
                        console.log(response);
                    }); 
            },
            onSubmit() {
                axios.put('/admin/settings/' + this.user.id, this.user)
                    .then(response => {
                        this.errors.record(response.data);
                    })
                    .catch(error => this.errors.record(error.response.data));
            },
            UpdateMap(useAddress) {
                if(useAddress) {
                    $('#useCustomLocation').val(false);
                }

                var tmp = $('#useCustomLocation').val();
                var useCustomLocation = (tmp === "true");

                if (useCustomLocation) {
                    picker.updateMapLatLong();
                } else {
                    picker.psearch($('#companyAddress').val() + ', ' + $('#companyCity').val() + ' ' + $('#companyState').val() + ' ' + $('#companyPostcode').val(), false);
                }
            }
        }
    }
</script>