<template>
    <div class="container">
       <legend>Event / Regatta Entrants for {{ regatta.name }}</legend>
        <div class="row mb-1">
        <div class="col-sm-10"><pagination :data="entrants" v-on:pagination-change-page="getEntrants"></pagination></div>
        <div class="col-sm-2 text-right"><a class="btn btn-primary" :href="'/admin/regattas/' + regatta.id + '/download'" target="_blank">Download</a> </div>
        </div>
        <table class="table table-sm table-hover table-striped w-100">
            <thead>
            <th>#</th>
            <th>Name</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>Division</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
            </thead>
            <tbody>
                <tr v-for="(entrant, index) in entrants.data" :key="index">
                    <td>{{ entrant.id }}</td>
                    <td>{{ entrant.firstName }} {{ entrant.lastName }}</td>
                    <td>{{ entrant.DOB }}</td>
                    <td>{{ entrant.gender }}</td>
                    <td>{{ entrant.division ? entrant.division.name  : '' }}</td>
                    <td>{{ entrant.phone }}</td>
                    <td>{{ entrant.email }}</td>
                    <td class="text-right"><button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#deleteModal" @click="loadCurrent(index)"><feather type="delete" size=".7em"></feather></button></td>
                </tr>
            </tbody>
        </table>

        <!-- Delete Confirm Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel">Delete {{ current.firstName }} {{ current.lastName }}</h4>

                        <button type="button" class="close hide-focus-rectangle" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the {{ current.firstName }} {{ current.lastName }} entrant?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal" autofocus="autofocus">Cancel</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" @click="onDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Regattaentrants",
    props: {
        regattaId: { type: Number, required: true }
    },
    mounted() {
        axios.get('/api/regattas/' + this.regattaId)
            .then(response => {
                console.log(response);
                this.regatta = response.data;   
        });

        this.getEntrants(1);
    },
    data() {
        return {
            regatta: {},
            entrants: {},
            current: {},
            currentIndex: 0,
        }
    },
    methods: {
        getEntrants(page) {
            if (typeof page === 'undefined') {
                page = 1;
            }

            console.log(this.regattaId);
            // Using vue-resource as an example
            axios.get('/api/regattas/' + this.regattaId + '/entrants?page=' + page)
                .then(response => {
                    console.log(response.data);
                    this.entrants = response.data;
                });
        },
        loadCurrent(index) {
            this.current = this.entrants.data[index];
            this.currentIndex = index;
        },
        onDelete() {
            axios.delete('/api/regattas/' + this.regattaId + '/entrants/' + this.current.id)
                .then(response => {
                    if(response.status === 200) {
                        this.entrants.data.splice(this.currentIndex, 1);
                    }
                })
                .catch(error => this.errors.record(error.response.data));
        }
    }
}
</script>

<style>

</style>
