<!--
  - Copyright (c) 2018. Dunsborough Bay Yacht Club All Rights Reserved
  -->

<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ regatta.name }} Options</h4>
                        <a class="btn btn-sm btn-outline-warning" href="/admin/regattas">Back</a>
                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#addModal" @click="loadCurrent(-1)">Add</button>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3"><h5>Name</h5></div>
                            <div class="col-sm-4"><h5>Description</h5></div>
                            <div class="col-sm-3"><h5>Sort Order</h5></div>
                            <div class="col-sm-1"></div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div v-for="(item, index) in list.data" class="row mb-1" :key="index">
                            <div class="col-sm-3">{{ item.name }}</div>
                            <div class="col-sm-4">{{ item.description }}</div>
                            <div class="col-sm-3">{{ item.sortOrder }}</div>
                            <div class="col-sm-1"><button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#addModal" @click="loadCurrent(index)">Edit</button></div>
                            <div class="col-sm-1"><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal" @click="loadCurrent(index)">Delete</button></div>
                        </div>
                        <pagination :data="list" v-on:pagination-change-page="getList"></pagination>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--suppress XmlDuplicatedId -->
                        <h4 v-if="isNew" class="modal-title" id="myModalLabel">New Option</h4>
                        <!--suppress XmlDuplicatedId -->
                        <h4 v-else class="modal-title" id="myModalLabel">Edit Option</h4>

                        <button type="button" class="close hide-focus-rectangle" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="addForm" name="addForm" class="form-horizontal" role="form" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name)">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="required" v-model="current.name" />
                            </div>

                            <div class="form-group">
                                <label for="description" class="control-label">Description</label>
                                <input type="text" name="description" id="description" class="form-control" placeholder="Description" required="required" v-model="current.description" />
                            </div>

                            <div class="form-group">
                                <label for="sortOrder" class="control-label">Sort Order</label>
                                <input type="text" name="sortOrder" id="sortOrder" class="form-control" placeholder="0" required="required" v-model="current.sortOrder" />
                            </div>

                            <div class="form-group">
                                <label for="name1" class="control-label">Name 1</label>
                                <input type="text" name="name1" id="name1" class="form-control" required="required" v-model="current.name1" />
                            </div>

                            <div class="form-group">
                                <label for="type1" class="control-label">Type 1</label>
                                <select id="type1" name="type1" class="form-control select-drop-down" v-model="current.type1" required="required">
                                        <option value="dropDown" selected>Drop Down</option>
                                        <option value="checkBox">Check Box</option>
                                        <option value="checkBoxRequired">Check Box Required</option>
                                </select>
                            </div>

                            <div v-if="current.type1 == 'dropDown'" class="form-group">
                                <label for="options1" class="control-label">Options 1</label>
                                <input type="text" name="options1" id="options1" class="form-control" placeholder="a,b,c" required="required" v-model="current.options1" />
                            </div>

                            <div class="form-group">
                                <label for="name2" class="control-label">Name 2</label>
                                <input type="text" name="name2" id="name2" class="form-control" required="required" v-model="current.name2" />
                            </div>

                            <div class="form-group">
                                <label for="type2" class="control-label">Type 2</label>
                                <select id="type2" name="type2" class="form-control select-drop-down" v-model="current.type2">
                                        <option value="none" selected>Not Set</option>
                                        <option value="dropDown">Drop Down</option>
                                        <option value="checkBox">Check Box</option>
                                        <option value="checkBoxRequired">Check Box Required</option>
                                </select>
                            </div>

                            <div v-if="current.type2 == 'dropDown'" class="form-group">
                                <label for="options2" class="control-label">Options 2</label>
                                <input type="text" name="options2" id="options2" class="form-control" placeholder="a,b,c" required="required" v-model="current.options2" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button v-if="isNew" type="button" class="btn btn-sm btn-outline-success" @click="onSubmit">Add</button>
                        <button v-else type="button" class="btn btn-sm btn-outline-success" @click="onSubmitEdit">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Confirm Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel">Delete {{ current.name }}</h4>

                        <button type="button" class="close hide-focus-rectangle" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the {{ current.name }} option?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-outline-default" data-dismiss="modal" autofocus="autofocus">Cancel</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" @click="onDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Errors from '../../shared.js';

    export default {
        name: "regatta-options-list",
        mounted() {
            this.getList();
        },
        props: ['regatta', 'regattaId'],
        data() {
            return {
                list: {},
                current: {id: 0, name: 'New Option', description: '', regattaId: this.regattaId, sortOrder: 0, name1: 'Name 1', type1: 'dropDown', options1: 'a,b,c'},
                currentIndex: 0,
                isNew: true,
                errors: new Errors()
            };
        },
        methods: {
            getList(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                console.log(this.regattaId);
                // Using vue-resource as an example
                axios.get('/api/regattaoptions?page=' + page + '&regattaId=' + this.regattaId)
                    .then(response => {
                        return response.data;
                    }).then(data => {
                    this.list = data;
                });
            }
            ,
            onSubmit() {
                axios.post('/api/regattaoptions', this.current)
                    .then(response => {
                        console.log(response.data);
                        this.errors.record(response.data);
                        if (!this.errors.any()) {
                            $('#addModal').modal('hide')
                            this.list.data.push(response.data);
                        }
                    })
                    .catch(error => this.errors.record(error.response.data));
            }
            ,
            onSubmitEdit() {
                console.log(this.current);
                axios.put('/api/regattaoptions/' + this.current.id, this.current)
                    .then(response => {
                        console.log(response.data);
                        this.errors.record(response.data);
                        if (!this.errors.any()) {
                            $('#addModal').modal('hide');
                        }
                    })
                    .catch(error => this.errors.record(error.response.data));
            }
            ,
            onDelete() {
                axios.delete('/api/regattaoptions/' + this.current.id)
                    .then(response => {
                        this.list.data.splice(this.currentIndex, 1);
                    })
                    .catch(error => this.errors.record(error.response.data));
            }
            ,
            loadCurrent(index) {
                if(index < 0) {
                    this.current = {id: 0, name: 'New Option', description: '', regattaId: this.regattaId, sortOrder: 0, name1: 'Name 1', type1: 'dropDown', options1: 'a,b,c'};
                    this.isNew = true;
                } else {
                    this.current = this.list.data[index];
                    this.currentIndex = index;
                    this.isNew = false;
                }
            }
        }
    }
</script>

<style scoped>

</style>