<!--
  - Copyright (c) 2018. Dunsborough Bay Yacht Club All Rights Reserved
  -->
<template>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8"><h4>Events / Regattas</h4></div>
                            <div class="col-4 text-right">
                                <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#addModal" @click="loadRegatta(-1)">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row border-bottom">
                            <div class="col-sm-2"><h5>Name</h5></div>
                            <div class="col-sm-3"><h5>Description</h5></div>
                            <div class="col-sm-2"><h5>Start Date</h5></div>
                            <div class="col-sm-1"><h5>Public</h5></div>
                            <div class="col-sm-4"></div>
                        </div>
                        <div v-for="(regatta, index) in regattas.data" class="row mb-1 pb-1 border-bottom" :key="index">
                            <div class="col-sm-2">{{ regatta.name }}</div>
                            <div class="col-sm-3">{{ regatta.description }}</div>
                            <div class="col-sm-2">{{ formatDate(regatta.startDate) }}</div>
                            <div class="col-sm-1 text-left">{{ regatta.public }}</div>
                            <div class="col-sm-4 text-right text-nowrap">
                                <div class="btn-group-xs">
                                <a class="btn btn-outline-primary" :href="'/admin/regattadivisions/' + regatta.id" >Divisions</a>
                                <a class="btn btn-outline-primary" :href="'/admin/regattaoptions/' + regatta.id" >Options</a>
                                <a class="btn btn-outline-success" :href="'/admin/regattas/' + regatta.id + '/entrants'">Entrants</a>

                                <button title="Edit" type="button" class="btn btn-outline-primary" data-toggle="modal" data-hover="tip" data-placement="auto" data-target="#addModal" @click="loadRegatta(index)"><feather type="save" size=".7em"></feather></button>
                                <button title="Delete" type="button" class="btn btn-danger" data-hover="tip" data-placement="auto" data-toggle="modal" data-target="#deleteModal" @click="loadRegatta(index)"><feather type="delete" size=".7em"></feather></button>
                                </div>
                            </div>
                        </div>
                        <pagination :data="regattas" v-on:pagination-change-page="getRegattas"></pagination>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--suppress XmlDuplicatedId -->
                        <h4 v-if="isNew" class="modal-title" id="myModalLabel">New Event</h4>
                        <!--suppress XmlDuplicatedId -->
                        <h4 v-else class="modal-title" id="myModalLabel">Edit Event</h4>

                        <button type="button" class="close hide-focus-rectangle" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="addForm" name="addForm" class="form-horizontal" role="form" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name)">
                            <div class="form-group">
                                <label for="name" class="control-label">Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="required" v-model="currentRegatta.name" />
                            </div>

                            <div class="form-group">
                                <label for="startDate" class="control-label">Start Date</label>
                                <ctk-date-time-picker
                                        id="startDate"
                                        v-model="currentRegatta.startDate"
                                        :minute-interval="5"
                                        format="YYYY-MM-DD HH:mm:ss"
                                        formatted="ddd D MMM YYYY HH:mm" />
                            </div>

                            <div class="form-group">
                                <label for="regattaType" class="control-label">Regatta Type</label>
                                <multiselect id="regattaType" track-by="value" :allow-empty="false" :options="regattaOptions" label="label" v-model="selectedValue"></multiselect>
                            </div>

                            <div class="row">
                                <div class="col form-group">
                                    <label for="places" class="control-label">Number of Places<small class="text-secondary"> ( User zero for unlimited )</small></label>
                                    <input type="text" name="places" id="places" class="form-control" placeholder="0" required="required" v-model="currentRegatta.places" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="description" class="control-label">Description</label>
                                <input type="text" name="description" id="description" class="form-control" placeholder="Description" required="required" v-model="currentRegatta.description" />
                            </div>

                            <div class="form-group">
                                <label for="notes" class="control-label">Notes</label>
                                <textarea id="notes" name="notes" class="form-control" placeholder="Notes" required="required" v-model="currentRegatta.notes"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="userId" class="control-label">Owner</label>
                                <multiselect id="userId"
                                             v-model="selectedUser"
                                             track-by="id"
                                             placeholder="Type to search"
                                             :options="userOptions"
                                             :searchable="true"
                                             :loading="isLoading"
                                             :internal-search="false"
                                             :options-limit="300"
                                             @search-change="findUsers"
                                             :allow-empty="false" >
                                    <template slot="singleLabel" slot-scope="{ option }">{{ option.first_name }} {{ option.last_name }}</template>
                                    <template slot="option" slot-scope="props">{{ props.option.first_name }} {{ props.option.last_name }}</template>
                                </multiselect>
                                <div class="input-group">
                                    <!--<input type="text" name="userId" id="userId" class="form-control" placeholder="Start Date" v-model="currentRegatta.userId" />-->
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="public" id="public" class="custom-control-input" v-model="currentRegatta.public" />
                                        <label for="public" class="custom-control-label">Public</label>
                                    </div>
                                </div>

                                <div class="col form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="boatRequired" id="boatRequired" class="custom-control-input" v-model="currentRegatta.boatRequired" />
                                        <label for="boatRequired" class="custom-control-label">Boat Required</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="paymentRequired" id="paymentRequired" class="custom-control-input" v-model="currentRegatta.paymentRequired" />
                                        <label for="paymentRequired" class="custom-control-label">Payment Required</label>
                                    </div>
                                </div>

                                <div class="form-group col">
                                    <label for="amount" class="control-label">Amount</label>
                                    <input type="text" name="amount" id="amount" class="form-control" placeholder="0.00" required="required" v-model="amount" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button v-if="isNew" type="button" class="btn btn-outline-success" @click="onSubmit">Add</button>
                        <button v-else type="button" class="btn btn-outline-success" @click="onSubmitEdit">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Delete Confirm Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="deleteModalLabel">Delete {{ currentRegatta.name }}</h4>
                        <button type="button" class="close hide-focus-rectangle" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete the {{ currentRegatta.name }} event?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" autofocus="autofocus">Cancel</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" @click="onDelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Errors from '../../shared.js';
    import moment from 'moment';

    export default {
        mounted() {
            this.getRegattas();

            // Lets get the current user
            this.findUser(this.currentUserId);
        },
        data() {
            return {
                regattas: {},
                currentRegatta: {id: 0, name: 'New Event', description: '', public: false, userId: this.currentUserId, regattaType: 1, places: 0, boatRequired: false},
                currentIndex: 0,
                isNew: true,
                errors: new Errors(),
                regattaOptions: [{ label: 'Regatta', value: 1}, { label: 'Training Course', value: 2}, { label: "Club", value: 4 }, {label: "Event", value: 8}],
                userOptions: [],
                isLoading: false,
            };
        },
        props: {
            currentUserId: { type: Number, default: 0 }
        },
        computed: {
            selectedValue : {
                get () {
                    return this.regattaOptions.find(option => option.value === this.currentRegatta.regattaType);
                },
                set (value) {
                    this.currentRegatta.regattaType = value.value;
                }
            },
            selectedUser : {
                get () {
                    return this.userOptions.find(option => option.id === this.currentRegatta.userId);
                },
                set (value) {
                    if(value != null) {
                        this.currentRegatta.userId = value.id;
                    } else {
                        this.currentRegatta.userId = 0;
                    }
                }
            },
            amount: {
                get () {
                    if(this.currentRegatta && this.currentRegatta.amount) {
                        return this.currentRegatta.amount;//Number(this.currentRegatta.amount).toFixed();
                    } else {
                        return 0.00;
                    }
                },
                set(value) {
                    this.currentRegatta.amount = value;
                }
            }
        },
        methods: {
            formatDate(date) {
                return moment(date).format('DD/MM/YY HH:mm');
            },
            getRegattas(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                // Using vue-resource as an example
                axios.get('/api/regattas?page=' + page)
                    .then(response => {
                        return response.data;
                    }).then(data => {
                    this.regattas = data;
                });
            },
            findUsers(query) {
                this.isLoading = true;
                axios.get('/api/users/search?q=' + query).then( response =>  {
                    this.userOptions = response.data.data;
                    this.isLoading = false;
                });
            },
            findUser(id) {
                this.isLoading = true;
                axios.get('/api/users/' + id).then( response =>  {
                    this.userOptions = [response.data];
                    this.isLoading = false;
                });
            },
            onSubmit() {
                axios.post('/api/regattas', this.currentRegatta)
                    .then(response => {
                        console.log(response.data);
                        this.errors.record(response.data);
                        if (!this.errors.any()) {
                            $('#addModal').modal('hide')
                            this.regattas.data.push(response.data);
                        }
                    })
                    .catch(error => this.errors.record(error.response.data));
            }
            ,
            onSubmitEdit() {
                axios.put('/api/regattas/' + this.currentRegatta.id, this.currentRegatta)
                    .then(response => {
                        console.log(response.data);
                        this.errors.record(response.data);
                        if (!this.errors.any()) {
                            $('#addModal').modal('hide');
                        }
                    })
                    .catch(error => this.errors.record(error.response.data));
            }
            ,
            onDelete() {
                console.log("Deleting: " + this.currentIndex);
                axios.delete('/api/regattas/' + this.currentRegatta.id)
                    .then(response => {
                        this.regattas.data.splice(this.currentIndex, 1);
                    })
                    .catch(error => this.errors.record(error.response.data));
            }
            ,
            loadRegatta(index) {
                if(index < 0) {
                    this.currentRegatta = {id: 0, name: 'New Event', description: '', public: false, userId: this.currentUserId, regattaType: 1, places: 0, boatRequired: false};
                    this.isNew = true;
                } else {
                    this.currentRegatta = this.regattas.data[index];
                    this.currentRegatta.amount = Number(this.currentRegatta.amount).toFixed(2);
                    this.currentIndex = index;
                    this.isNew = false;
                }

                // Lets get the current user
                this.findUser(this.currentRegatta.userId);
            }
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
