<style scoped>
    .gllpLatlonPicker   { margin: 0px 0; }
    .gllpMap    { width: 100%; height: 214px; }
</style>

<template>
    <div class="panel panel-success">
        <div class="panel-heading"><h4>Account Details <span class="label label-success pull-right" v-if="errors.has('message')" v-text="errors.get('message')"></span></h4></div>
        <div class="panel-body">
            <form method="POST" id="detailform" name="detailform" class="form-horizontal" role="form" @submit.prevent="onSubmit" @keydown="errors.clear($event.target.name)">
                <input type="hidden" name="_method" value="_PUT" />
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" id="email" class="form-control" placeholder="Email" required="required" v-model="user.email" disabled="disabled" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="password">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" v-model="password">
                        <span class="label label-danger" v-if="errors.has('password')" v-text="errors.get('password')"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="password_confirm">Confirm&amp;Password</label>
                    <div class="col-sm-10">
                    <input type="password" name="password_confirm" id="password_confirm" class="form-control" placeholder="Password" v-model="password_confirm">
                    <span class="label label-danger" v-if="errors.has('password_confirm')" v-text="errors.get('password_confirm')"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="firstName">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="firstName" id="firstName" class="form-control" placeholder="First Name" v-model="user.firstName">
                        <span class="label label-danger" v-if="errors.has('firstName')" v-text="errors.get('firstName')"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="lastName">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" v-model="user.lastName">
                        <span class="label label-danger" v-if="errors.has('lastName')" v-text="errors.get('lastName')"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="companyPhone" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                    <input type="text" name="companyPhone" id="companyPhone" class="form-control" placeholder="Phone" v-model="user.companyPhone">
                    </div>
                </div>

                <div class="form-group">
                <label class="col-sm-2 control-label" for="companyAddress">Address</label>
                <div class="col-sm-6" style="padding: 0px">
                    <div class="col-sm-12" style="padding-bottom: 12px;">
                    <input type="text" name="companyAddress" id="companyAddress" class="form-control" placeholder="Address" v-model="user.companyAddress">
                        <!-- {!! Form::text('companyAddress', $user->companyAddress, array('placeholder' => 'Address', 'class' => 'form-control', 'onchange'=>'UpdateMap(true)', 'id'=>'companyAddress'))!!} -->
                    </div>

                    <label for="companyCity" class="sr-only">City</label>
                    <div class="col-sm-6 col-xs-12" style="padding-bottom: 12px;">
                    <input type="text" name="companyCity" id="companyCity" class="form-control" placeholder="City" v-model="user.companyCity">
                        <!-- {!! Form::text('companyCity', $user->companyCity, array('placeholder' => 'City', 'class' => 'form-control', 'onchange'=>'UpdateMap(true)', 'id'=>'companyCity')) !!} -->
                    </div>
                    <label for="companyState" class="sr-only">State</label>
                    <div class="col-sm-3 col-xs-6">
                        <input type="text" name="companyState" id="companyState" class="form-control" placeholder="State" v-model="user.companyState">
                        <!-- {!! Form::text('companyState', $user->companyState, array('placeholder' => 'State', 'class' => 'form-control', 'onchange'=>'UpdateMap(true)', 'id'=>'companyState')) !!} -->
                    </div>
                    <label for="companyPostcode" class="sr-only">Postcode</label>
                    <div class="col-sm-3 col-xs-6">
                    <input type="text" name="companyPostcode" id="companyPostcode" class="form-control" placeholder="Postcode" v-model="user.companyPostcode">
                        <!-- {!! Form::text('companyPostcode', $user->companyPostcode, array('placeholder' => 'Postcode', 'class' => 'form-control', 'onchange'=>'UpdateMap(true)', 'id'=>'companyPostcode')) !!} -->
                    </div>
                </div>
                <div class="col-sm-4" style="padding: 0px">
               <!--  <fieldset class="gllpLatlonPicker col-sm-12">
                        <div class="gllpMap" id="map" name="map">Google Maps</div>
                        <input type="hidden" name="lat" id="lat" v-model="user.lat" class="gllpLatitude">
                        <input type="hidden" name="long" id="long" v-model="user.long" class="gllpLongitude">
                        <input type="hidden" name="useCustomLocation" id="useCustomLocation" v-model="user.useCustomLocation">
                        <input type="hidden" class="gllpZoom" value="14"/>
                        <br/>
                </fieldset> -->
                </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Save</button>
                        <!-- {!! Form::submit('Save', array('class' => 'btn btn-success')) !!}
                        {!! HTML::link('admin', 'Cancel', array('class' => 'btn btn-danger')) !!} -->
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATyp4xp4WE3pW1BC1pdpMbqDgfqxtyjzE" type="text/javascript"></script>
<script src="/js/jquery-gmaps-latlon-picker.js" type="text/javascript"></script>
<script>
    // $(document).bind("location_changed", function(event, object) {
    //         console.log("changed: " + $(object).attr('id') );
    //         $('#useCustomLocation').val('true');
    // });
   import Errors from '../../shared.js';

    export default {
        mounted() { 
            this.getUser();
           // this.mapUpdateAll();
        },

        props: {
            userid: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                user: {},
                password: "",
                password_confirm: "",
                success_msg: "",
                failed_msg: "",
                errors: new Errors()
            };
        },

        methods: {
            mapUpdateAll() {
                $(".gllpLatlonPicker").each(function() {
                   picker = $(document).gMapsLatLonPicker();
                   picker.init( $(this));
                    UpdateMap();
                });
            },
            getUser() {
                 axios.get('/api/user')
                     .then(response => {
                         this.user = response.data;
                     })
                    .catch(function(response) {
                        console.log(response);
                    }); 
            },
            onSubmit() {
                this.user.password = this.password;
                this.user.password_confirm = this.password_confirm;
                this.password = '';
                this.password_confirm = '';
                axios.put('/admin/settings/' + this.user.id, this.user)
                    .then(response => {
                        this.errors.record(response.data);
                    })
                    .catch(error => this.errors.record(error.response.data));
            },
            UpdateMap(useAddress) {
                if(useAddress) {
                    $('#useCustomLocation').val(false);
                }

                var tmp = $('#useCustomLocation').val();
                var useCustomLocation = (tmp === "true");

                if (useCustomLocation) {
                    picker.updateMapLatLong();
                } else {
                    picker.psearch($('#companyAddress').val() + ', ' + $('#companyCity').val() + ' ' + $('#companyState').val() + ' ' + $('#companyPostcode').val(), false);
                }
            }
        }
    }
</script>