
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// CSS Customization
html {
  position: relative;
  min-height: 100%;
}

body {
  //Margin bottom by footer height 
  margin-bottom: 260px;
  margin-top: 20px;
  color: #636b6f;
}

h1, h2, h3, h4 {
    color: darken(#636b6f, 20%);
}

h4, .h4 {
  font-size: 1.3rem;
}

h5, .h5 {
  color: darken(#636b6f, 10%);
  font-size: 1.0rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 260px;
  background-color: $footer-bg;
}

.btn-group-xs > .btn, .btn-xs {
  padding  : .25rem .4rem;
  font-size  : .875rem;
  line-height  : .9;
  border-radius : .2rem;
}

//.navbar {
//  margin-bottom: 15px;
//}
//
//.container .text-muted {
//  margin: 12px 0;
//}

.dropdown-menu {
  margin-top: 0.07rem;
  border-top-left-radius: 0.0rem;
  border-top-right-radius: 0.0rem;
 // border-top: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 991px) {
  .dropdown-menu {
      border: none;
      box-shadow: none;
  }

  .footer {
    height: 400px;
  }

  body {
    margin-bottom: 400px;
  }
}

.footer-sponsors {
  width: 100%;
  padding-bottom: 40px;
  background-color: white;
}

.footer-base {
  background-color: #f5f5f5;
  width: 100%;
}

.footer-base p {
  text-shadow: none;
  color: #636b6f;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
  border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
  background-color: white;
  border: thin rgba(0, 0, 0, .25) solid;
}