html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 15px;
}

.footer-sponsors {
  width: 100%;
  padding-bottom: 40px;
  background-color: white;
}

.footer-base {
  background-color: #f5f5f5;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 0px;
  background-color: #f5f5f5;
  text-align: center;
}
