  
<h3>Skipper Details</h3>

<form>
  <div class="form-group">
    <label for="exampleInputfirstname">First Name</label>
    <input placeholder="Enter Name">
  </div>

  <div class="form-group">
    <label for="exampleInputlastname">Last Name</label>
    <input placeholder="Enter Name">
  </div>

  <div class="form-group">
    <label for="exampleInpuatage">Age</label>
    <input placeholder="Enter Age">
  </div>

 <div class="row">
   <div class="col-md-5 mb-3">
   <label for="gender">Gender</label>
   <select class="custom-select d-block w-100" id="Genderender" required>
   <option value="">Choose...</option>
   <option>Male</option>
   <option>Female</option>
   </select>
</div>

  <div class="form-group">
    <label for="exampleInputnameofyacht"> Name Of Yacht</label>
    <input placeholder="Enter Name">
  </div>

  <div class="form-group">
    <label for="exampleInputsailnumber"> Sail Number</label>
    <input placeholder="Enter Number">
  </div>

  <div class="form-group">
    <label for="exampleInputhomeyachtclub"> Home Yacht Club</label>
    <input placeholder="Enter Yacht Club">
  </div>

  <div class="form-group">
    <label for="exampleInputaustraliansailinglnumber"> Australian Sailing Number</label>
    <input placeholder="Enter Number">
  </div>

  <div class="row">
   <div class="col-md-5 mb-3">
   <label for="devision">Devision</label>
   <select class="custom-select d-block w-100" id="Devision" required>
   <option value="">Choose...</option>
   <option>Open</option>
   <option>Novice</option>
   </select>
</div>

</form>

<h3>Parent / Guardian Details</h3>

<form>

  <div class="form-group">
    <label for="exampleinputfirstiame">First Name</label>
    <input placeholder="Enter Name">
  </div>

 <div class="form-group">
    <label for="exampleinputlastname">Last Name</label>
    <input placeholder="Enter Name">
  </div>

  <div class="form-group">
    <label for="exampleaddressline1">Address Line 1</label>
    <input placeholder="Enter Address">
  </div>

   <div class="form-group">
    <label for="exampleaddressline2">Address Line 2</label>
    <input placeholder="Enter Address">
  </div>

   <div class="form-group">
    <label for="examplecity/town">City/Town</label>
    <input placeholder="Enter City/Town">
  </div>

   <div class="form-group">
    <label for="examplestate">State</label>
    <input placeholder="Enter State">
  </div>

   <div class="form-group">
    <label for="examplepostcode">Post Code</label>
    <input placeholder="Enter Post Code">
  </div>

   <div class="form-group">
    <label for="examplemobile">Mobile Number</label>
    <input placeholder="Enter Mobile">
  </div>

   <div class="form-group">
    <label for="exampleemail">Email</label>
    <input placeholder="Enter Email">
  </div>

  <div class="form-group">
    <label for="exampleconfirmemail">Confirm Email</label>
    <input placeholder="Re-Enter Email">
  </div>

</form>

<h3>Tee Shirt Order Form</h3>

<form>
  <div class="row">
   <div class="col-md-5 mb-3">
   <label for="Gender">Gender</label>
   <select class="custom-select d-block w-100" id="gender" required>
   <option value="">Choose...</option>
   <option>Male</option>
   <option>Female</option>
   </select>
</div>

<div class="row">
   <div class="col-md-5 mb-3">
   <label for="Size">Size</label>
   <select class="custom-select d-block w-100" id="Size" required>
   <option value="">Choose...</option>
   <option>XXS</option>
   <option>XXS</option>
   <option>XS</option>
   <option>S</option>
   <option>M</option>
   <option>L</option>
   <option>XL</option>
   <option>XXL</option>
   <option>XXXL</option>
   </select>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>