<template>
    <div class="panel panel-success">
        <div class="panel-heading">Current User</div>

        <div class="panel-body" id="user-body">
            User:
        </div>
    </div>
</template>

<script>
    export default {
        mounted() { 
            this.getUser();
        },

        methods: {
            getUser() {
                axios.get('/api/user').then(function(response) {
                    $('#user-body').html('User was loades: ' + response.data.email);
                }).catch(function(response) {
                    $('#user-body').html('User: Failed to load');
                }); 
            }
        }
    }
</script>
